<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Backbone.js pagination</title>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
	</head>
	<body>

		<div class="container">


		  <p>&nbsp;</p>
		  <div class="page-header">
		    <h1>Backbone.js Pagination <small>an example</small></h1>
		  </div>

			<ul id="content">
			</ul>

			<ul id="pagination">
			</ul>
		
			<p>
			This project is based on initial prior work by @bmsterling and is being heavily refactored and extended by @addyosmani.
			</p>

		</div>

		<script type="text/html" id="tmpPagination">
		 <div class="breadcrumb">

		 Data returned:

			<span class="cell last pages">
				<% if (page != 1) { %>
					<a href="#" class="first">First</a>
					<a href="#" class="prev">Previous</a>
				<% } %>
				<% _.each (pageSet, function (p) { %>
					<% if (page == p) { %>
						<span class="page selected"><%= p %></span>
					<% } else { %>
						<a href="#" class="page"><%= p %></a>
					<% } %>
				<% }); %>
				<% if (lastPage != page) { %>
					<a href="#" class="next">Next</a>
					<a href="#" class="last">Last</a>
				<% } %>
			</span>

			<span class="cell howmany">
				Show
				<a href="#" class="selected">20</a>
				|
				<a href="#" class="">50</a>
				|
				<a href="#" class="">100</a>
			</span>

			<span class="cell first records">
				<span class="current"><%= startRecord %></span>
				-
				<span class="perpage"><%= endRecord %></span>
				of
				<span class="total"><%= totalRecords %></span>
							shown
			</span>

			<span class="cell sort">
				<a href="#" class="sortAlphabetUp">Sort (Asc)</a>
				<a href="#" class="sortAlphabetDown">Sort (Desc)</a>
			</span>

			<select id="sortByOption">
			    <option value="cid">cid</option>
			 	<option value="text">text</option>
			 	<option value="from_user">from_user</option>
			</select>

		  </div>

		  <div class="breadcrumb">
		    Ajax query for next/prev pages:
		  	<span class="cell ">
		  		<a href="#" class="serverprevious">Previous</a>
		  		<a href="#" class="servernext">Next</a>
		  	</span>
		  </div>
		</script>



		
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="libs/underscore.js"></script>
		<script src="libs/json2.js"></script>
		<script src="libs/backbone.js"></script>
		<script src="app.js"></script>
		<script src="utils/pagination.js"></script>
		<script src="models/tag.js"></script>
		<script src="collections/tags.js"></script>
		<script src="views/tags.js"></script>
		<script src="views/pagination.js"></script>




	</body>
</html>