<!DOCTYPE HTML>
<html lang="en-US">

	<head>

		<meta charset="UTF-8">
		<title>Backbone.js pagination</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
	</head>

	<body>

		<div class="container">

		  <p>&nbsp;</p>
		  <div class="page-header">
		    <h1>Paginator.requestPager() <small>Paginating requests to and from an API/backend</small></h1>
		  </div>


			<h3>NetFlix movies</h3>
			<ul id="content">
			</ul>

			<div id="pagination">
			</div>

		  <div class="alert-message block-message warning">
	        <p>Note: The Netflix OData feed may not return the last page depending the query used and approximation of total results returned. For customization, 'last' functioning is entirely dependant on how your backend returns results.</p>
	      </div>
		

		</div>

	
		<!-- sample template for pagination UI -->
		<script type="text/html" id="tmpServerPagination">
			<div class="breadcrumb">

			  	<span class="cell ">

					<% if (page > 1) { %>
						<a href="#" class="serverprevious">Previous</a>
					<% }else{ %>
						<span>Previous</span>
					<% }%>

					<% if (page < totalPages) { %>
						<a href="#" class="servernext">Next</a>
					<% } %>

					<% if (lastPage != page) { %>
						<a href="#" class="serverlast">Last</a>
					<% } %>


					<span class="cell serverhowmany">
						Show
						<a href="#" class="selected">20</a>
						|
						<a href="#" class="">50</a>
						|
						<a href="#" class="">100</a>
					</span>

					<span class="cell first records">
						<span class="current"><%= page %></span>
						of
						<span class="total"><%= totalPages %></span>
									shown
					</span>

				<span class="cell sort">
					<a href="#" class="orderUpdate btn small">Sort by:</a>
				</span>

				<select id="sortByField">
				    <option value="ReleaseYear">Release year</option>
				 	<option value="month(Instant/AvailableFrom)">Release month</option>
				</select>
			  	</span>


			  </div>
		  </script>


		
		<!-- scripts-->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="../libs/underscore.js"></script>
		<script src="../libs/json2.js"></script>
		<script src="../libs/backbone-min.js"></script>

		<script src="app.js"></script>

		<!--Backbone.Paginator-->
		<script src="../../backbone.paginator.js"></script>

		<!--Models/Collections-->
		<script src="models/Tag.js"></script>
		<script src="collections/tagsRequest.js"></script>

		<!--Views-->
		<script src="views/TagsRequest.js"></script>
		<script src="views/requestPagination.js"></script>


	</body>
</html>